{% extends 'layout.twig' %}

{% block contenido %}
{{ parent() }}
<div class="row">
  <div class="large-twelve columns">
  <article>
  <h1>{{cambridgesession.title}}</h1>
  <hr>

<table width ="100%">
  <thead>
    <tr>
      <th width="40%">Exámen</th>
      <th width="5%">Nivel</th>
      <th width="10%">Precio</th>
      <th width="10%">Fecha</th>
      <th>Notas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ cambridgesession.ket_name }}</td>
      <td>{{ cambridgesession.ket_level }}</td>
      <td>{{ cambridgesession.ket_price | number_format(2, ',' , ' ') }} &#8364;</td>
      <td>{{ cambridgesession.ket_date | date("d/m/Y") }}</td>
      <td>{{ cambridgesession.ket_annotations }}</td>
    </tr>
    <tr>
      <td>{{ cambridgesession.pet_name }}</td>
      <td>{{ cambridgesession.pet_level }}</td>
      <td>{{ cambridgesession.pet_price | number_format(2, ',' , ' ')  }}  &#8364;</td>
      <td>{{ cambridgesession.pet_date | date("d/m/Y")  }}</td>
      <td>{{ cambridgesession.pet_annotations }}</td>
    </tr>
    <tr>
      <td>{{ cambridgesession.first_name }}</td>
      <td>{{ cambridgesession.first_level }}</td>
      <td>{{ cambridgesession.first_price | number_format(2, ',' , ' ')  }} &#8364;</td>
      <td>{{ cambridgesession.first_date | date("d/m/Y")  }}</td>
      <td>{{ cambridgesession.first_annotations }}</td>
    </tr>
    <tr>
      <td>{{ cambridgesession.advanced_name }}</td>
      <td>{{ cambridgesession.advanced_level }}</td>
      <td>{{ cambridgesession.advanced_price | number_format(2, ',' , ' ')  }} &#8364;</td>
      <td>{{ cambridgesession.advanced_date | date("d/m/Y")  }}</td>
      <td>{{ cambridgesession.advanced_annotations }}</td>
    </tr>
    <tr>
      <td>{{ cambridgesession.proficiency_name }}</td>
      <td>{{ cambridgesession.proficiency_level }}</td>
      <td>{{ cambridgesession.proficiency_price | number_format(2, ',' , ' ')  }} &#8364;</td>
      <td>{{ cambridgesession.proficiency_date | date("d/m/Y")  }}</td>
      <td>{{ cambridgesession.proficiency_annotations }}</td>
    </tr>

  </tbody>
</table>

{{ cambridgesession.body }}
<article>
</div>
</div>
{% endblock %}

